@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);



#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #c8e4ef;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-brand__name a {
  font-family: 'PT Serif', serif;
  font-size: 46px;
}
#menu-0 .mbr-brand__name a P {
  font-family: 'Roboto', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
}
#header1-1 H1 {
  font-size: 36px;
  color: #cccccc;
  text-align: left;
}
#header1-1 P {
  color: #efefef;
  text-align: left;
}
#header1-1 .btn {
  font-size: 16px;
}
#footer1-2 P {
  text-align: left;
}



#content5-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-article {
  color: #fff;
}
#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #c8e4ef;
}
#menu-10 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-10 .mbr-brand__name a {
  font-family: 'PT Serif', serif;
  font-size: 46px;
}
#menu-10 .mbr-brand__name a P {
  font-family: 'Roboto', sans-serif;
}
#menu-10 .mbr-navbar__items a {
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
}
#footer1-12 P {
  text-align: left;
}



#menu-22 .mbr-brand__name {
  font-size: 16px;
}
#menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #c8e4ef;
}
#menu-22 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-22 .mbr-brand__name a {
  font-family: 'PT Serif', serif;
  font-size: 46px;
}
#menu-22 .mbr-brand__name a P {
  font-family: 'Roboto', sans-serif;
}
#menu-22 .mbr-navbar__items a {
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
}
#footer1-23 P {
  text-align: left;
}
#testimonials1-26 .mbr-reviews__text P {
  text-align: left;
}
#testimonials1-26 .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-26 .mbr-reviews__author-bio {
  color: #cccccc;
}
#testimonials1-26 .mbr-section__header {
  color: #ffffff;
}
#msg-box4-28 .mbr-header__text {
  color: #ffffff;
  text-align: left;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#msg-box4-28 .btn {
  text-align: right;
}
#msg-box4-28 .mbr-article P {
  text-align: left;
}



#menu-29 .mbr-brand__name {
  font-size: 16px;
}
#menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #c8e4ef;
}
#menu-29 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-29 .mbr-brand__name a {
  font-family: 'PT Serif', serif;
  font-size: 46px;
}
#menu-29 .mbr-brand__name a P {
  font-family: 'Roboto', sans-serif;
}
#menu-29 .mbr-navbar__items a {
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
}
#footer1-30 P {
  text-align: left;
}
#form1-33 .btn {
  font-size: 18px;
}
